<div class="container mb-auto py-3 text-center">
  <h2>Editing Lecture</h2>
</div>

<div class="container d-flex justify-content-center">
  <%= render 'form', lecture: @lecture %>
</div>


<%= link_to 'Show', @lecture %> |
<%= link_to 'Back', course_session_path(@lecture.course_session_id) %>
