<p id="notice"><%= @notice %></p>

<% unless @notice %>
  <div class="container mb-auto py-3 text-center">
    <h2>Student Waitlist</h2>
    <p>The following students are currently waiting for a session of Carrot U</p>
  </div>
    <table class="container table">
      <thead>
        <tr>
          <th>Email</th>
          <th>Date added</th>
        </tr>
      </thead>
      <tbody>
        <% @waiting_list.each do |waiting_list| %>
        <tr>
          <td><%= waiting_list.user.email %></td>
          <td><%= waiting_list.created_at %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
<% end %>
