<div class="container mb-auto py-3 text-center">
  <h1>Users</h1>
</div>

<div class="container mx-auto">
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>email</th>
        <th>admin</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do | user| %>
        <tr>
          <td><% user.id %></td>
          <td><% user.email %></td>
          <td><% user.admin %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
