<div class="container mb-auto py-3 justify-content-center">
    <div class="card mx-auto" style="max-width: 36rem;">
      <div class="row">
        <div class="col-md-4">
          <%= image_tag current_user&.gravatar_url, class: "card-img" %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title pb-auto"><%= current_user.email %>
              <%if current_user.admin %>
                <span class="badge badge-danger">Admin</span>
              <% end %>
              </h5>
            <p class="card-text mt-auto"><small class="text-muted"><%= "Joined CarrotU " + current_user.created_date_local %></small></p>
          </div>
        </div>
      </div>
    </div>
    <%= link_to 'Back', root_path %>
</div>
