<div class="container text-left" style= "max-width: 60rem;">
  <p>
    After seeing strong interest from around the company when Instacart engineers ran internal sessions about SQL and basic web development, a few of us started to talk about using our love of teaching and mentoring to offer something like a full-fledged coding bootcamp. This program would take someone with little coding background and prepare them for an entry level software engineering role at a company like Instacart.
  </p>
  <h3 class="cu-header">Class Is In Session</h3>
  <p>So what does day to day life at CarrotU actually look like?
  <p>The program runs for 4 months from kick off to graduation, with the expectation that students commit about 20 hours a week to the work, above their existing responsibilities at the company.
  <p>Every week students work through Treehouse videos and exercises, in addition to building custom projects specific to the CarrotU curriculum. There are live lectures once a week lead by one of the engineer mentors or a guest speaker from another part of the company such as design or product.

  <p>Near the end of the program, more of the work revolves around building a capstone project. This is a single project worked on by all the students in the program. The capstone project allows students to get experience working on a shared code base and doing project planning with other engineers.</p>
  <br>
  <div class="container">

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Supporting professional development <span class="text-muted">for all employees</span></h2>
        <p class="lead">If we have great employees at Instacart who are strongly motivated to move from a non-technical role into an engineering position, they’re going to do it with or without our help. Attending a traditional coding bootcamp would likely involve leaving their job (meaning we lose a great employee) and paying A LOT of money (difficult when they just left their job). Offering a program like this is a win for the company and the students. Participants gain new skills while keeping their existing jobs, and Instacart can retain ambitious and valued employees.</p>
      </div>
      <div class="col-md-5">
<%= image_tag "sites.png", class: "bd-placeholder-img img-fluid", style: "object-fit:cover; object-position: left;"%>      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">A junior engineer who has familiarity with and passion for the company and product <span class="text-muted">can have impact quickly</span></h2>
        <p class="lead">Being a new engineer can be overwhelming at times, particularly in a fast moving company. Hiring junior engineers who are not familiar with the company means they have two learning curves. Tapping into a market of potential engineers who already know a lot about Instacart makes it possible for those people to have an easier transition and to be able to make meaningful contributions as quickly.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <%= image_tag "casual_session.jpeg", class: "bd-placeholder-img img-fluid", style: "object-fit:cover; object-position: left; height: 350px; width: 100%;"%>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Many of our engineers find teaching and mentoring rewarding <span class="text-muted">rewarding</span></h2>
        <p class="lead">Instacart is full of talented engineers, all of whom enjoy sharing their knowledge and skills with others. Staffing our bootcamp with volunteer engineers with a passion for teaching allows them to exercise and grow in this area.</p>
      </div>
      <div class="col-md-5">
        <%= image_tag "mentor.jpeg", class: "bd-placeholder-img img-fluid", style: "object-fit:cover; object-position: left; height: 350px; width: 100%;"%>
      </div>
    </div>

    <hr class="featurette-divider">

  </div>
</div>
