<div class="container text-left" style= "max-width: 48rem;">
  <p>
    Like many fast-growing tech companies, Instacart is always looking for talented engineers. One way to bring on new talent is by recruiting and hiring existing engineers (by the way, we’re hiring!), but we thought we might be able to grow some of our own.
  </p>
  <h1 class="cu-header">Founding a University</h1>
  <p>
    After seeing strong interest from around the company when Instacart engineers ran internal sessions about SQL and basic web development, a few of us started to talk about using our love of teaching and mentoring to offer something like a full-fledged coding bootcamp. This program would take someone with little coding background and prepare them for an entry level software engineering role at a company like Instacart.
  </p>
  <p>We started designing a program motivated by the following principles:</p>
  <h3 class="cu-principle">Supporting professional development for all employees is important</h3>
  <p>If we have great employees at Instacart who are strongly motivated to move from a non-technical role into an engineering position, they’re going to do it with or without our help. Attending a traditional coding bootcamp would likely involve leaving their job (meaning we lose a great employee) and paying A LOT of money (difficult when they just left their job). Offering a program like this is a win for the company and the students. Participants gain new skills while keeping their existing jobs, and Instacart can retain ambitious and valued employees.</p>
  <h3 class="cu-principle">A junior engineer who has familiarity with and passion for the company and product can have impact quickly</h3>
  <p>Being a new engineer can be overwhelming at times, particularly in a fast moving company. Hiring junior engineers who are not familiar with the company means they have two learning curves. We believe that tapping into a market of potential engineers who already know a lot about Instacart makes it possible for those people to have an easier transition and to be able to make meaningful contributions as quickly as more experienced engineers.</p>
  <h3 class="cu-principle">Many of our engineers find teaching and mentoring to be very rewarding</h3>
  <p>Instacart is full of talented engineers, all of whom enjoy sharing their knowledge and skills with others. Staffing our bootcamp with volunteer engineers with a passion for teaching allows them to exercise and grow in this area.</p>
  <h3 class="cu-header">Building a Curriculum</h3>
  <p>We knew we couldn’t build an entire series of courses with all the necessary training materials using only a few part-time volunteers. So, we investigated using existing online learning resources combined with customized content produced in-house, to align our lessons with the needs and challenges of Instacart. Engineers with both CS degrees and bootcamp backgrounds contributed to the curriculum plan to give us a broad perspective on what should be the essential skill set for a strong engineer.</p>
  <div class="container text-left" style="max-width: 30rem;">
    <p>The topics we ended up with were:</p>
    <h5>Setting Up</h5>
    <li>Using an IDE</li>
    <li>Using Github</li>
    <li>Installing packages</li>
    <br>
    <h5>Our Stack</h5>
    <li>SQL and database design</li>
    <li>Fundamental coding concepts, taught in Ruby</li>
    <li>Ruby on Rails</li>
    <li>HTML/CSS/(vanilla) Javascript</li>
    <li>React</li>
    <br>
    <h5>Computer Science Topics</h5>
    <li>Imperative, functional, and object oriented languages</li>
    <li>Data structures and algorithms</li>
    <li>Design patterns</li>
    <li>Regular expressions</li>
    <br>
    <h5>Getting to Production</h5>
    <li>Logging and debugging</li>
    <li>Scripting</li>
    <li>Deploying code on AWS</li>
    <br>
    <h5>Teamwork</h5>
    <li>Class project</li>
    <li>Code reviews</li>
    <li>Google</li>
    <li>Stack Overflow</li>
    <br>
  </div>
  <p>For many of the topics, particularly the basics of various languages, we made use of video lectures and exercises from Treehouse. We supplemented this with our own lectures and homework, as well as having a Slack channel and regular mentor office hours to make sure no one got stuck.</p>
  <h3 class="cu-header">Class Is In Session</h3>
  <p>So what did day to day life at Carrot U actually look like?
  <p>The program ran for 4 months from kick off to graduation, with the expectation that students would commit about 20 hours a week to the work, above their existing responsibilities at the company.
  <p>Every week students would work through Treehouse videos and exercises, in addition to building custom projects specific to the Carrot U curriculum. Each Monday there would be a live lecture by one of the engineer mentors or a guest speaker from another part of the company such as design or product. This was also a way to get many of the students and mentors together in one place at least once a week.

  <p>Near the end of the program, much of the work revolved around building a capstone project. This was a single project worked on by all the students in the program. The capstone project allowed students to get experience working on a shared code base and doing project planning with other engineers.</p>
  <div class="container align-center px-auto mx-auto">
    <%= image_tag "casual_session.jpeg", size: "600x400"%>
  </div>
</div>
