<div class="container text-left" style="max-width: 60rem;">
  <div class="container">

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          <span class="text-muted">Supporting professional development</span> for all employees
        </h2>
        <p class="lead">
          We have great employees at Instacart who are strongly motivated to move from non-technical roles into
          engineering positions. They’re going to do it with or without our help. Attending a traditional coding
          bootcamp usually involves leaving their job, which means Instacart loses a great employee. They also
          have to pay A LOT of money, which is difficult without a job. This program is a win for the company and the
          students. Participants gain new skills while keeping their existing jobs, and Instacart can retain ambitious
          and valued employees.
        </p>
      </div>
      <div class="col-md-5">
        <%= image_tag "sites.png", class: "bd-placeholder-img img-fluid", style: "object-fit:cover; object-position: left;" %>      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">
          <span class="text-muted">A junior engineer who has familiarity with and passion for the company and product</span>
          can have impact quickly
        </h2>
        <p class="lead">
          Being a new engineer can be overwhelming at times, particularly in a fast moving company. Hiring
          junior engineers who are not familiar with the company means they have two learning curves. Tapping into a
          market of potential engineers who already know a lot about Instacart makes it possible for those people to
          have an easier transition and to be able to make meaningful contributions as quickly.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <%= image_tag "casual_session.jpg", class: "bd-placeholder-img img-fluid", style: "object-fit:cover; object-position: left; height: 350px; width: 100%;" %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          <span class="text-muted">Many of our engineers find teaching and mentoring</span> rewarding</h2>
        <p class="lead">
          Instacart is full of talented engineers, all of whom enjoy sharing their knowledge and skills
          with others. Staffing our bootcamp with volunteer engineers with a passion for teaching allows them to
          exercise and grow in this area.
        </p>
      </div>
      <div class="col-md-5">
        <%= image_tag "mentor.jpg", class: "bd-placeholder-img img-fluid", style: "object-fit:cover; object-position: left; height: 350px; width: 100%;" %>
      </div>
    </div>

    <hr class="featurette-divider">

  </div>
</div>
