<span><p><%= @quote %></p></span>
<main role="main" class="content">
  <%= image_tag ("logo.png")%>
  <p class="lead">Instacart's In-House Coding Bootcamp</p>
  <p class="lead">
    <%= link_to "Sign in", login_url, class: "btn btn-lg btn-secondary", role: "button", id: "sign_in" if !logged_in? %>
  </p>

  <div class="container d-flex">

  </div>
</main>
