<div class="home-container text-center">
  <span><p><%= @quote %></p></span>
  <main role="main" class="content">

    <% if @is_admin_approved%>
    <div class="alert alert-warning" role="alert">
    Thank you for signing up! You are now a mentor!
    </div>

    <% elsif @is_manager_approved%>
    <div class="alert alert-warning" role="alert">
    Thank you for signing up! Pending admin approval.
    </div>

    <% elsif @is_mentor %>
    <div class="alert alert-warning" role="alert">
    Thank you for signing up! Pending manager approval.
    </div>
    <% end %>

    <%= render 'carrotu_overview' %>
  </main>
</div>
