<div class="container mb-auto py-3 text-center">
  <h2>Volunteer to be a mentor</h2>
  <p>Thank you for signing up to participate as a Carrot U mentor! Please take a look at the <a href="/help/index#mentors">FAQ</a> if you have any questions.</p>
</div>
<div class="container d-flex justify-content-center">
    <%= render 'form', mentor: @mentor %>
</div>
<%= link_to 'Back', mentors_path %>
