<div class="container mb-auto py-3 text-center">
  <h2>Mentor signup</h2>
</div>
<div class="container d-flex justify-content-center">
    <%= render 'form', mentor: @mentor %>
</div>
<%= link_to 'Back', mentors_path %>
