<div class="container mb-auto py-3 text-center">
  <h2>Editing Carrot U Session</h2>
</div>

<div class="container d-flex justify-content-center">
  <%= render 'form', course_session: @course_session %>
</div>
<%= link_to 'Show', @course_session %> |
<%= link_to 'Back', course_session_path(@course_session) %>
