<div class="container mb-auto py-3 text-center">
  <h2>Create Carrot U Session</h2>
</div>

<div class="container d-flex justify-content-center">
  <%= render 'form', course_session: @course_session %>
</div>

<%= link_to 'Back', course_sessions_path %>
