<h1>Editing Homework</h1>

<div class="container d-flex justify-content-center">
    <%= render 'form', homework: @homework %>
</div>

<%= link_to 'Show', @homework %> |
<%= link_to 'Back', homeworks_path %>
