<p id="notice"><%= notice %></p>
<div class="container mb-auto py-3 text-center">
  <h2>Homework Assignments</h2>
</div>

<% @homeworks.order('due_date ASC').each do |homework| %>
  <%= render "homework_card", homework: homework %>
<% end %>

<%= link_to 'Course Session', course_sessions_path %>
