<p id="notice"><%= notice %></p>

<h1>Homework Assignments</h1>

<% @homeworks.each do |homework| %>
  <%= render "homework_card", homework: homework %>
<% end %>

<%= link_to 'Course Session', course_sessions_path %>
