

 @import "bootstrap";

 html {
 	height: 100%;
 }
 body {
 	height: 100%;
 	color: #000;
   min-height: 100%;
 }
 // homepage footer
 .mastfoot {
   margin-top: auto;
 	padding-left: 1rem;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
 }
