// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// button formatting for secondary colors
.btn-secondary {
	color: #333;
	text-shadow: none;
	background-color: #fff;
	border: .05rem solid #fff;
	&:hover {
		color: #333;
		text-shadow: none;
		background-color: #fff;
		border: .05rem solid #fff;
	}
	&:focus {
		color: #333;
		text-shadow: none;
		background-color: #fff;
		border: .05rem solid #fff;
	}
}
.home-container {
	max-width: 42em;
}
// CarrotU text above nav
.masthead {
	margin-bottom: 2rem;
}
// nav for homepage/app
.nav-masthead {
	.nav-link {
		padding: .25rem 0;
		font-weight: 700;
		color: rgba(255, 255, 255, .5);
		background-color: transparent;
		border-bottom: .25rem solid transparent;
		&:hover {
			border-bottom-color: rgba(255, 255, 255, .25);
		}
		&:focus {
			border-bottom-color: rgba(255, 255, 255, .25);
		}
	}
	.active {
		color: #fff;
		border-bottom-color: #fff;
	}
}
// main div rendering content
.content {
	padding: 0 1.5rem;
	.btn-lg {
		padding: .75rem 1.25rem;
		font-weight: 700;
	}
}
// homepage footer
.mastfoot {
  margin-top: auto;
	padding-left: 1rem;
}
