// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// button formatting for secondary colors
.btn-secondary {
	color: #333;
	text-shadow: none;
	background-color: #fff;
	border: .05rem solid #fff;
	&:hover {
		color: #333;
		text-shadow: none;
		background-color: #fff;
		border: .05rem solid #fff;
	}
	&:focus {
		color: #333;
		text-shadow: none;
		background-color: #fff;
		border: .05rem solid #fff;
	}
}
// CarrotU text above nav
.masthead {
	margin-bottom: 2rem;
}
// nav for homepage/app
.nav-masthead {
	.nav-link {
		font-weight: 700;
		background-color: transparent;
		border-bottom: .25rem solid transparent;
		&:hover {
			border-bottom-color: rgba(255, 255, 255, .25);
		}
		&:focus {
			border-bottom-color: rgba(255, 255, 255, .25);
		}
	}
	.nested {
		margin: 0em;
		padding: 0em;
		h4 {
			font-size: 12pt;
			font-weight: 700;
			background-color: transparent;
			margin: 0em;
			margin-top: 0.65em;
			padding: 0em;
			&:hover {
				border-bottom-color: rgba(255, 255, 255, .25);
			}
			&:focus {
				border-bottom-color: rgba(255, 255, 255, .25);
			}
		}
		.nav-link {
			margin: 0em;
			padding: 0em;
		}
	}
	.active {
		border-bottom-color: #ccc;
	}
}

// main div rendering content
.content {
	padding: 0 1.5rem;
	.btn-lg {
		padding: .75rem 1.25rem;
		font-weight: 700;
	}
}

// Changes styling for CarrotU Overview page
.cu-principle {
	color: #666;
	display: block;
	text-align: center;
	font-weight: 200;
}

.cu-header {
	display: block;
	text-align: center;
}
