<div class="container mb-auto py-3 text-center">
    <h2>Editing Homework Submission</h2>
</div>

<div class="container d-flex justify-content-center">
    <%= render 'form', homework_submission: @homework_submission %>
</div>

<%= link_to 'Show', @homework_submission %> |
<%= link_to 'Course Session', course_session_path(@homework_submission.course_session_participant.course_session_id) %>
