<div class="container mb-auto py-3 text-center">
  <h2>Submit Assignment</h2>
</div>

<div class="container d-flex justify-content-center">
    <%= render 'form', homework_submission: @homework_submission %>
</div>

<%= link_to 'Back', homework_path(@homework_submission.homework)%>

